@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body{
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.head-app{
    background-color: #c4c4c4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.head-app a{
    background-color: #fafafa;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    text-decoration: none;
}
.head-app h1{
    padding-left: 20px;
}
.edit-user{
    display: flex;
    justify-content: center;
}
.form-edit{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}
.form-edit input{
    background-color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.button-edit{
    cursor: pointer;
    font-size: medium;
}
.button-edit:hover{
    background-color: #595959;
    color: white;
}